.product {
    width: 32%;
    box-sizing: border-box;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid gray;
}

.price-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.reviews {
    font-size: 12px;
    text-align: left;
}